{% include "header.html" %}           
            <!-- <div class="row tm-row tm-mb-45">
                <div class="col-12">
                    <hr class="tm-hr-primary tm-mb-55">
                </div>                
            </div> -->
            <div class="row tm-row tm-mb-120">
                <div class="col-12">
                    <h2 class="tm-color-primary tm-post-title tm-mb-60">Contact Us</h2>
                </div>
                <div class="col-lg-7 tm-contact-left">
                    <form method="POST" action="mailto:bisenv33@gmail.com" class="mb-5 ml-auto mr-0 tm-contact-form" enctype="text/plain">                        
                        <div class="form-group row mb-4">
                            <label for="name" class="col-sm-3 col-form-label text-right tm-color-primary">Name</label>
                            <div class="col-sm-9">
                                <input class="form-control mr-0 ml-auto" name="name" id="name" type="text" required>                            
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label for="email" class="col-sm-3 col-form-label text-right tm-color-primary">Email</label>
                            <div class="col-sm-9">
                                <input class="form-control mr-0 ml-auto" name="email" id="email" type="email" required>
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label for="subject" class="col-sm-3 col-form-label text-right tm-color-primary">Subject</label>
                            <div class="col-sm-9">
                                <input class="form-control mr-0 ml-auto" name="subject" id="subject" type="text" required>
                            </div>
                        </div>
                        <div class="form-group row mb-5">
                            <label for="message" class="col-sm-3 col-form-label text-right tm-color-primary">Message</label>
                            <div class="col-sm-9">
                                <textarea class="form-control mr-0 ml-auto" name="message" id="message" rows="8" required></textarea>                                
                            </div>
                        </div>
                        <div class="form-group row text-right">
                            <div class="col-12">
                                <button class="tm-btn tm-btn-primary tm-btn-small">Submit</button>                        
                            </div>                            
                        </div>                                
                    </form>
                </div>
                <div class="col-lg-5 tm-contact-right">
                    <!-- <address class="mb-4 tm-color-gray">
                        
                    </address> -->
                    <span class="d-block">
                        Tel:
                        <a href="tel:963785021" class="tm-color-gray">+91-9637850221</a>
                    </span>
                    <span class="mb-4 d-block">
                        Email:
                        <a href="mailto:bisenv33@gmail.com" class="tm-color-gray">bisenv33@gmail.com</a>
                    </span>
                    <p class="mb-5 tm-line-height-short">
                        <!-- Maecenas eu mi eu dui cursus
                        consequat non eu metus. Morbi ac
                        turpis eleifend, commodo purus
                        eget, commodo mauris. -->
                    </p>
                    <ul class="tm-social-links">
                        <li class="mb-2">
                            <a href="https://www.linkedin.com/in/vaibhav-bisen-90144a171/" class="d-flex align-items-center justify-content-center">
                                <img src="{{ url_for('static', filename='icons/linkedin(1).png') }}">
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="https://github.com/vaibhav-bisen" class="d-flex align-items-center justify-content-center">
                                <img src="{{ url_for('static', filename='icons/github(1).png') }}">
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="https://twitter.com/Vaibhav_bisen_" class="d-flex align-items-center justify-content-center">
                                <img src="{{ url_for('static', filename='icons/twitter.png') }}">
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="https://www.instagram.com/_.vaibhav_bisen/" class="d-flex align-items-center justify-content-center mr-0">
                                <img src="{{ url_for('static', filename='icons/instagram.png') }}">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>      
{% include "footer.html" %}
