<footer class="row tm-row">
    <hr class="col-12">
    <div class="col-md-6 col-12 tm-color-gray">
        Design: <a rel="nofollow" target="_parent" href="#" class="tm-external-link">Vaibhav</a>
    </div>
    <div class="col-md-6 col-12 tm-color-gray tm-copyright">
        Copyright © 2023
    </div>
</footer>
</main>
</div>
<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/templatemo-script.js')}}"></script>
</body>
</html>