{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}
<div class="row tm-row">
  <div class="col-12">
    <hr class="tm-hr-primary tm-mb-55" />
    
  </div>
</div>
<div class="row tm-row">
  <div class="col-lg-8 tm-post-col">
    <div class="tm-post-full">
      <div class="mb-4">
        <h2 class="pt-2 tm-color-primary tm-post-title">{{ requested_post.title }}</h2>
        <p class="tm-mb-40">{{ requested_post.date }} posted by Admin</p>
        
        {{ requested_post.body|safe }}
        
        
        <!-- If user id is 1 then they can see the Edit Post button -->
        {% if current_user.id == 1 %}
        <div class="clearfix">
          <a
            class="btn btn-primary float-right"
            href="{{url_for('edit_post', post_id=requested_post.id)}}"
            >Edit Post</a
          >
        </div>
        {% endif %}
      </div>

        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

        <div class="col-lg-8 col-md-10 mx-auto comment">
          {% for comment in requested_post.comments: %}
          <ul class="commentList">
            <li>
              <div class="commenterImage">
                <img src="{{ comment.comment_author.email | gravatar }}" style="width: 30px;"/>
           </div>
              <div class="commentText">
                {{comment.text|safe}}
                <span class="date sub-text"
                  > - {{comment.comment_author.name}}</span
                >
              </div>
            </li>
          </ul>
          {% endfor %}
        </div>
    </div>
  </div>
  <aside class="col-lg-4 tm-aside-col">
    <div class="tm-post-sidebar">
      <hr class="mb-3 tm-hr-primary" />
      <h2 class="tm-mb-40 tm-post-title tm-color-primary">Related Posts</h2>
      
      {% for post in all_posts %}
      {% if requested_post.id != post.id %}
      <a href="{{ url_for('show_post', post_id=post.id) }}" class="d-block tm-mb-40">
        <div>
          <img src="{{ post.img_url }}" alt="Image" class="mb-3 img-fluid" style="width: 200px; height:100px; float:left; margin: 10px 5px 0 0;">
          <!-- print({{post.img_url}}) -->
          <p class="tm-color-primary" style="line-height: 1.5;">
            {{ post.subtitle }}
          </p>
        </div>
      </a>
      {% endif %}
      {% endfor %}


    </div>
  </aside>
</div>

{% include "footer.html" %}
